<?xml version="1.0"?>
<launch>

    <!-- Launch the lidar_processing Node -->
    <node pkg="yuweiwu_roslab" type="lidar_processing.py" name = "lidar_range" />

    <!-- Launch the record of bagfile-->
    <node name="record" pkg="rosbag" type="record" args=" -o $(find yuweiwu_roslab)/bagfiles/ -a" output="screen"/>

    <!-- Launch RVIZ -->    
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find yuweiwu_roslab)/launch/yuweiwu_roslab.rviz" output="screen" />

</launch>
